* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.274);
    margin-bottom: 20px;
}

.container {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    margin-left: 135px;
    margin-top: 20px;
}

p {
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    width: 1205px;
    height: 60px;
    margin-left: 13px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: white;
    text-align: center;
    color: rgb(121, 103, 103);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form_control {
    margin: 10px 50px 20px 20px;
    background-color: white;
    margin-right: 12px;
    margin-left: 12px;
    height: 420px;
}

input {
    width: 90%;
    height: 30px;
    margin: 10px 30px;
}

label {
    margin: 10px 30px;
    font-size: 12px;
}

textarea {
    width: 90%;
    margin: 10px 30px;
}

span {
    width: 90%;
    margin: 10px 30px;
    font-family: monospace;
}

button {
    height: 45px;
    width: 100px;
    background-color: rgb(250, 246, 246);
    color: rgb(7, 0, 0);
    margin: 10px 500px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}