body {
    background-color: aqua;
    box-sizing: border-box;
}

.container {
    text-align: center;
    border: 1px solid black;
    /* width: 30%;
    height: 450px; */
    padding: 100px;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 2px;
    background-image: linear-gradient(45deg, rgb(96, 179, 96), rgb(173, 106, 106), rgb(233, 53, 83));
}

h1 {
    text-align: center;
    margin-top: -64px;
    color: white;
}

#repeater {
    width: 536px;
    height: 69px;
    margin-left: 350px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

input {
    padding: 5px;
    width: 440px;
    height: 30px;
    background-color: white;
    border: none;
    margin-left: -9px;
    border-radius: 6px;
    /* text-align: center; */
    /* border: 1px solid black; */
}

#add {
    padding: 5px;
    width: 60px;
    height: 38px;
    background-color: rgba(28, 94, 138, 0.671);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-left: -5px;
    color: white;
    text-align: left;
}

.wrapper {
    margin-top: 20px;
    margin-right: 5px;
    /* width: 400px;
    height: 29px; */
    /* border: 1px solid red; */
}

.list_item {
    margin-top: -1px;
    display: inline-flex;
    border: 1px solid rgb(8, 8, 8);
    background-color: white;
}

p {
    width: 284px;
    text-align: left;
    align-self: auto;
    margin-top: auto;
    word-wrap: break-word;
}

.remove {
    margin-left: 48px;
    margin-top: 3px;
    background-color: rgba(167, 7, 7, 0.911);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
}