.container {
    background-color: aqua;
    width: 70%;
    height: 300px;
    text-align: center;
    margin-left: 180px;
    margin-top: 100px;
    box-sizing: border-box;
    font-family: cursive;
}

.celcius {
    margin-top: 18px;
    margin-left: 101px;
    width: 246px;
}

.fahrenheit {
    margin-top: -68px;
    margin-left: 390px;
    width: 243px;
}

.kelvin {
    margin-top: -68px;
    margin-left: 665px;
    width: 255px;
}

input {
    width: 200px;
    height: 30px;
}

h1 {
    font-size: 25px;
    font-family: sans-serif;
    text-shadow: 2px 1px 15px rgb(206, 203, 9);
    border-bottom: 2px solid rgb(247, 246, 246);
}

.temp {
    margin-top: 57px;
    margin-left: -40px;
}

label {
    font-size: 25px;
    font-family: sans-serif;
    text-shadow: 2px 1px 15px red;
    text-align: center;
}